<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>蟹爪</title>
        <script type="text/javascript" src="../static/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/base.css" />
        <style type="text/css"></style>
    </head>
    <body>
        <h1><center>
            <a href="http://m.weilairiji.com/index.php">
            <img src="../static/logo.gif" alt="蟹爪"/>
            </a>
            </center>
        </h1>
        {% block form %}{% end %}
        <p>你可以[<a href="http://m.weilairiji.com/index.php?op=browse" accesskey="7">随便看看</a>]</p>
        <p>蟹爪是一个轻博客。</p>
        <p>随时随地记录</p>
        <p>时时刻刻关注</p>
        <p>微信发状态到蟹爪:xiezhua</p>
        <div id="ft">报时：{{time}}</div>
    </body>
</html>
