<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>蟹爪</title>
        <meta name="viewport"
         content="
         height = device-height,
         width = device-width,
         initial-scale = 1 ,
         user-scalable = yes ,
         " /> 
        <link rel="stylesheet" type="text/css" href="../static/base.css" />
        <style type="text/css"></style>
    </head>
    <body>
        <h1><center>
            <a href="http://m.weilairiji.com/index.php">
            <img src="../static/logo.gif" alt="蟹爪"/>
            </a>
            </center>
        </h1>
        <h2>{{info}}</h2>
        <br>
        {% block form %}{% end %}
        <br>
        <p>一直觉得蟹爪是有门窗的树洞,</p>
        <p>有爱的邻居和最常去的街道.</p>
        <p>想说的话总能得到保存或者传达,</p>
        <p>不同装扮的自己也都能被包容.</p>
        <p>      ----by第4047号爪友 
        <a href="http://m.weilairiji.com/index.php?op=home&uid=4047">&nbsp;&nbsp;浅 叉</a></p>
        <br>
        <div id="ft">报时：{{time}}</div>
    </body>
</html>
